:root{
    --body_color:#F6F6F6;
    --primary_color: #4192DC;
    --text_color:#9A9A9A;
    --light_black:rgba(0, 0, 0, 0.774);
    --light_grey:#D9D9D9;
    --light_white:#EBEBEB;
    --nav_color:#F3F3F3;
}