@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    font-weight: 600;
}
:root {
  --var-body: #e4e9e7;
  --var-sideBar: #fff;
  --var-hover-color: #4192DC;
  --var-primary-light: #f6f5ff;
  --var-toggle: #ddd;
  --var-text: #707070;
  --var-lightRed: rgba(255, 0, 0, 0.575);
  --var-shadow: 0.2rem 0.2rem 1.4rem 0rem rgba(73, 73, 73, 0.233);
}
body {
  background-color: #4192DC;
}

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
} */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.container header {
  height: 6.5rem;
  width: 6.5rem;
  background: #4192DC;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-top: 5rem;

}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}
form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: .6rem;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form a{
  color: #fff;
  text-decoration: none;
}
form  button {
  margin-top: 2.5rem;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  padding: .9rem 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #4192DC;
  transition: all 0.2s ease;
  font-weight: 500;
}
form button.active {
  background: #4192DC;
  pointer-events: auto;
}
form button:hover {
  background: #0e4bf1;
}


.forget-page{
  display: flex;
  max-width: 70rem;
  min-height: 30rem;
  margin: auto;
  margin-top: 20rem;
  width: 100%;
  height: 100%;
}
.left-cont{
  background-color: #FFF;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-cont img{
  width: 90%;
cursor: pointer;
width: 20rem;
animation-name: image;
animation-duration: 2s;
animation-iteration-count: infinite;
}
@keyframes image{
  0%{
    transform: scale(.99);
  }
  50%{
    transform:scale(1) ;
  }
  100%{
    transform: scale(.99);
  }
}
.right-cont{
  background-color: var(--var-primary-light);
  width: 50%;
}
.right-cont .header{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.right-cont .header h2{
  color: #707070;
  font-size: 2rem;
  font-weight: 400;

}
.input{
  display: flex;
  flex-direction: column;
  margin: 0  2rem;
  margin-top: 9rem;
}
.input .f-input{
  display: flex;
  align-items: center;
  background-color: var(--var-sideBar);
  margin-bottom: 2rem;
  border-radius: .6rem;
}
.input .f-input i{
  font-size: 1.5rem;
  color: var(--var-text);
 padding-right: 1rem;
 cursor: pointer;
}
.input input{
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 1rem ;
 
}
.login-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .verify{
  background-color: #4192DC;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: .5rem ;
  border-radius: .7rem;
  cursor: pointer;
  width: 15rem;
  color: var(--var-sideBar); 
  transition: .4s;
  margin-bottom: 1rem;
  }
  .verify a:hover{
    transform: scale(.99);
  }
  @media only screen and (max-width:48em){
    
    .forget-page{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left-cont,.right-cont{
      width: 100%;
    }
    .left-cont img{
      margin: 2rem;
    }
    .container{
      margin: 2rem;
    }
  }